:root {
    --head: rgb(0, 0, 0);
    --nav: red;
    --card: white;
    --signature: rgb(28, 117, 218);
}

body {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    min-height: 150vh;
    justify-content: flex-start;
}

body header {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
    background-color: var(--head);
    color: var(--signature);
    position: sticky;
    top: 0;
    z-index: 100;
}

.box-wrapper {
    height: 75vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    background-color: black;
}

.right-column {
    display: flex;
    flex-direction: row;
    position: relative;
}
.right-column img {
    width: 80%;
    border: 10px double var(--signature);
    position: relative;
}

.right-column figure img {
    -webkit-filter: blur(3px);
	filter: blur(3px);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.right-column figure:hover img {
    -webkit-filter: blur(0);
	filter: blur(0);
}

.right-column div {
    flex-grow: 1;
}




nav ul {
    display: inline;
    justify-content: space-between;
    min-width: 300px;
}

nav a {
    color: rgb(255, 255, 255);
    padding: 15px 20px;
}

nav a:hover {
    background-color: rgb(20, 20, 20);
}

main {
    font-size: 150%;
    display: flex;
    flex-direction: row;
    padding-left: 100px;
    text-align: right;
}

main p {
    font-size: 60%;
    padding: 60px 50px;
    text-align: left;
    
}

article h1 {
    font-size: 300%;
    display: flex;
    flex-direction: row;
    padding-left: 120px;
    text-align: right;
    
}

aside {
    width: 25%;  
    text-align: left;
    color: var(--signature);
}

aside h2 {
    font-size: 150%;
    text-align: center;
}

input, button {
    width: 100%;
    margin: 2% 0;
    padding: 2%;
    box-shadow: 5px 5px 10px black;
    text-align: center;

}

.message {
    width: 100%;
    height: 200px;
   
}
.me img {
    width: 100%;
    display: flex;
    flex-direction: row;
} 

footer {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: small;
    position: relative;
    bottom: 0;
    text-align: center;
    background-color: black;          
    color: white;
}

@media screen and (max-width: 768px) {
    header {
        flex-direction: row;
    }

    main {
        max-width: 1200px;              
    }

    article {
        max-width: 1200px;
    }
}